<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Welcome to Cisco URL Shortener {% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'url_shortener/css/custom.css' %}" />
    <link rel="icon" href="/favicon.ico?v=2" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <script type="text/javascript">
    $(function() {
      $('#submitButton').click(function() {
        $.ajax({
          type: "POST",
          url: "/shorten/",
          dataType: 'json',
          data: {
            'url' : $('#url').val(),
            'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
          }
        })
        .done(returnSuccess)
        .fail(returnFailure)
      });
    });
    
    function returnSuccess(data, textStatus, jqXHR) {
      if (data.url) {
        if (data.error == 'phishing')
            $('#url-result').html('<b style="color:red;">Phishing URL:</b> <a href="' + data.url + '">' + data.url + '</a>');
        else
            $('#url-result').html('<b>Shorten URL:</b> <a href="' + data.url + '">' + data.url + '</a>');
        $('#url').val("");
      } else {
        $('#url-result').text("Do not submit blank."); 
      } 
    }
    
    function returnFailure(jqXHR, textStatus, errorThrown) {
      console.error("Error when fetching the Shorten URL with status: " + jqXHR.status + " " + errorThrown);
    }
  </script>
  <body>
    <div id="wrap">
      <header>
        <h1><a href="{% url 'url_shortener:home' %}">Cisco URL Shortener - </a><small>Shorten your URL</small></h1>
      </header>
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
