{% extends "url_shortener/base.html" %}
{% block title %}Cisco URL Shortner - Shorten your URL!{% endblock %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-sm-9">
      <input type="text" name="url" id="url" class="form-control input-sm" placeholder="https://www.cisco.com" />
    </div>
    <div class="col-sm-3">
      {% csrf_token %}
      <button id="submitButton" class="btn btn-primary">Submit</button></p> 
    </div>
  </div>
  <div class="panel-footer"><span id="url-result">Enter the URL above and click Submit!</span></div>
</div>
{% endblock %}
